@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-invisible::-webkit-scrollbar {
    display: none; /* Sembunyikan scrollbar */
}

/* Menyembunyikan scrollbar pada Firefox */
.scroll-invisible {
    scrollbar-width: none; /* Sembunyikan scrollbar */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideToR {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@layer components {
    .pause-animate {
        animation-play-state: paused; /* Menghentikan animasi */
    }
}
